/* Order: General - Home - About me - Projects - Certifications - Skills - Experience - Contact */
/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: antiquewhite;
    min-height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contact button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.title{
    color: black;
    font-size: 38px;
    line-height: 40px;
    margin: 30px 0;
    text-align: center;
    gap: 90px;
}

h2.span{
    color: goldenrod;
}

.container{
    max-width: 1200px;
    width: 95%;
}

/* Header */

header{
    width: 100%;
    position: fixed;
    background-color: antiquewhite;
    padding: 2px;
    box-shadow: 0 0 10px 5px rgb(226, 204, 149);
    z-index: 9999;

}

header > .interface{ /* Use > to enter the item immediatelly inside header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: grey;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}


header a:hover{
    color: black;
    text-decoration: none;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.btn-contact button:hover{
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}

/* home me area */

section.home-area{
    padding: 0;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgb(226, 204, 149);
}

section.home-area .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.home-area h1{
    color: black;
    font-size: 58px;
    line-height: 40px;
    margin: 30px 0;
}

.home-area p{
    color: grey;
    font-size: 25px;
    margin: 30px 0;
}

.home-area .txt-home-area h1 p{
    color: black;
    line-height: 20px;
    margin: 30px 0;
}
.home-area .txt-home-area h1 span{
    color: goldenrod;
}

.home-area .img-home-area img{
    position: relative;
    animation: floating 2s ease-in-out infinite alternate; /*call the animation, duration of each cycle, floating effect, looping, walking fowards and backwards*/
    width: 250px;
    border-radius: 100%;
    box-shadow: 0 0 100px 5px rgba(218, 165, 32, 0.548);
}

@keyframes floating{ /* floating img animation*/
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* About Area */

section.about-area{
    padding: 60px 4%;
    box-shadow: 0 0 10px 5px rgb(226, 204, 149);
    background-color: rgba(226, 214, 188, 0.87);
}

section.about-area .flex{
    align-items: center;
    gap: 40px;
}

.about-area .txt-about{
    color: black;
}

.about-area .title{
    margin-top: 0;
    margin-bottom: 100px;
}

.about-area .txt-about h2{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.about-area .txt-about h2 span{
    color: goldenrod;
    display: block;
}

.about-area .txt-about p{
    margin: 10px 0;
    text-align: justify;
}

.about-area .txt-about .btn-social button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    margin: 0 5px;
    transition: .2s;
}

.about-area .txt-about .btn-social button:hover{
    transform: scale(1.1);
}

/* Projects Area */

section.projects-area{
    padding: 80px 4%;
}

section.projects-area .flex{
    gap: 60px;
}

.projects-area .projects-box{
    color: black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 35px;
    transition: .2s;
}

.projects-area .projects-box ul li{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

.projects-area .projects-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px goldenrod;
}

.projects-area .projects-box i{
    font-size: 48px;
    color: goldenrod;
}

.projects-area .projects-box h3{
    font-size: 22px;
    margin: 15px 0;
}

.projects-box .btn-git button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: antiquewhite;
    float: right;
    transition: .2s;
}

.projects-box .btn-git button:hover{
    transform: scale(1.1);
}

/* Certifications Area */

section.certifications-area{
    padding: 60px 4%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgb(226, 204, 149);
    background-color: rgba(226, 214, 188, 0.87);
}

section.certifications-area .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.certifications-area .img-cert{
    width: 600px;
    height: 360px;
    object-fit: cover;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    position: relative;
}

.certifications-area .img-cert:hover{
    background-position: 100% 100%;
}

.certifications-area .overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transition: .4s;
}

.certifications-area .overlay:hover{
    opacity: 1;
}

.certifications-area .overlay button{
    padding: 8px 20px;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.certifications-area .overlay button:hover{
    transform: scale(1.1);
}

.container{
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px;
    grid-auto-flow: column;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 30px;
    margin-bottom: 30px;
    font-size: 0;
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.container .scrollbar{
    height: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(226, 214, 188, 0.87);
}

.scrollbar .scrollbar-track {
    height: 4px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
}

.scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: inherit;
}

.scrollbar .scrollbar-thumb:hover{
    height: 6px;
}

.scrollbar .scrollbar-thumb:active{
    background-color: #444;
    height: 6px;
}
.scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-wrapper .slide-button{
    position: absolute;
    height: 50px;
    width: 50px;
    border: #fff;
    border-radius: 50%;
    outline: none;
    color: #fff;
    background-color: rgba(218, 165, 32, 0.884);
    font-size: 2.2rem;
    cursor: pointer;
    transform: translateY(-50%);
    transition: .5s;
}

.slider-wrapper .slide-button:hover{
    background-color: #444;
}

.slider-wrapper .slide-button#prev-slide{
    left: -100px;
    top: 50%;
    display: none;
}

.slider-wrapper .slide-button#next-slide{
    right: -100px;
    top: 50%;
}

@media (max-width: 1023px) {
    .slider-wrapper .slide-button{
        display: none!important;
    }

    .slider-wrapper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .img-cert{
        width: 280px;
        height: 380px;
    }

    .scrollbar .scrollbar-thumb{
        width: 20px;
    }
}

/* Skills area */

section.skills-area{
    padding: 60 4%;
    margin-top: 80px;
}

.skills-area .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-area .title{
    margin-top: 0;
    margin-bottom: 60px;
}

.skills-area h2{
    margin-top: 30px;
}

.skills-area p{
    margin-top: 10px;
    margin-bottom: 80px;
    max-width: 80%;
}

.skills-area .grid-container{
    margin-top: 0;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap:  120px;
}

/* Experience area */

section.experience-area{
    padding: 40px 4%;
    box-shadow: 0 0 10px 5px rgb(226, 204, 149);
    background-color: rgba(226, 214, 188, 0.87);
}

.experience-area .title{
    margin-bottom: 80px;
}

.txt-experience .span-time{
    font-style: italic;
    color: #444444b2;
}

.txt-experience p{
    margin-top: 20px;
    margin-bottom: 60px;
}

/* Contact area */ 

section.contact{
    padding: 60 4%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contat .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .title{
    margin-bottom: 60px;
}

form{
    max-width: 500px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(226, 214, 188, 0.87);
    outline: 0;
    padding: 10px 15px;
    margin: 15px;
    border: goldenrod;
    border-radius: 15px;
    color: #444;
}

form textarea{
    resize: none;
}

form .btn-send input[type=submit]{
    background-color: rgba(218, 165, 32, 0.342);
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    transition: .2s;
}

form .btn-send input[type=submit]:hover{
    background-color: rgba(218, 165, 32, 0.712);
}  

.contact .txt-contact{
    justify-content: center;
  }
  
  .contact h4{
    text-align: justify;
    border: none;
    width: fit-content;
    color: black;
    font-size: 20px;
    margin: 10px 0;
  }

  .contact .btn-social button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    margin: 0 5px;
    transition: .2s;
    background-color: antiquewhite;
    display: inline-block;
}

.contact .btn-social button:hover{
    transform: scale(1.1);
}

/* Footer */

footer{
    padding: 40px 4%;
    text-align: center;
    font-weight: 700;
}